{% extends 'base.html.twig' %}

{% block title %}Contribute menu{% endblock %}

{% block body %}
    <h2>Let's create your personal food category!</h2>

    {% include 'category/form.html.twig' %}

{% endblock %}